<aside id="colorlib-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 breadcrumbs text-center">
						<h2>@ViewData["Title"]

                            
                        </h2>
						<p><span><a href="index.html">Ana Sayfa</a></span> / <span>@ViewData["Title"]</span></p>
					</div>
				</div>
			</div>
		</aside>